/*This is how comments are written in CSS*/

/*Generel style settings for the body element in the HTML file*/
body {background-color:#ECECE9; font-family: Verdana;}

@font-face
{
font-family: CBSRegular;
src: url('styles/cbs_b-webfont.woff')
}

#mydiv
{
margin: 30px 0px 30px 0px;
}



h1, h2, h3, h4, h5, h6 {font-family:CBSRegular;}

/*Applying table settings in style.css file */
table {border-collapse:collapse; border: 1px solid #616161;}
th, td {font-family:CBSRegular; border-color: #616161; text-align: left;}
th {font-size: 30px}